.container
{
  margin: 0 auto;  padding: 0 15px;
  @media (min-width: 576px)
  {
    max-width: 540px;
  }

  @media (min-width: 768px)
  {
    max-width: 720px;
  }

  @media (min-width: 992px)
  {
    max-width: 960px;
  }

  @media (min-width: 1200px)
  {
    max-width: 1140px;
  }

  @media (min-width: 1400px)
  {
    max-width: 1320px;
  }
}

.mb-3
{
  margin-bottom: 1rem !important;
}

.form-label
{
  display: inline-block;  margin-bottom: .5rem;
}

.form-control
{
  font-size: 1rem;  line-height: 1.5;  display: block;  width: 100%;  width: -webkit-fill-available;  width: -moz-available;  padding: .375rem .75rem;  -webkit-transition: border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;        -moz-transition: border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;            -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;                  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;  color: #212529;  border: 1px solid #ced4da;  border-radius: .25rem;  background-color: #fff;  background-clip: padding-box;
}

.btn.btn-primary
{
  font-size: 1rem;  font-weight: 400;  line-height: 1.5;  display: inline-block;  width: 20%;  padding: .375rem .75rem;  cursor: pointer;  -webkit-transition: color .15s ease-in-out,
  background-color .15s ease-in-out, border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;        -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out,
  border-color .15s ease-in-out, box-shadow .15s ease-in-out;            -o-transition: color .15s ease-in-out, background-color .15s ease-in-out,
  border-color .15s ease-in-out, box-shadow .15s ease-in-out;                  transition: color .15s ease-in-out, background-color .15s ease-in-out,
  border-color .15s ease-in-out, box-shadow .15s ease-in-out;  text-align: center;  vertical-align: middle;  text-decoration: none;  color: #fff;  border: 1px solid transparent;  border-color: #0d6efd;  border-radius: .25rem;  background-color: #0d6efd;
}

.text-danger
{
  color: #dc3545 !important;
}
