@mixin title-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    rotate: 5deg;
}

div#symbol {
    position: relative;
    height: 92.5vh;
    img {
        width: 80%;

        @include title-absolute;
        object-fit: cover;
        filter: drop-shadow(0.35vh 0.35vh 0.25vh black);
    }

    div#bottom-border {
        top: 53.5% !important;
        left: 55% !important;
        width: 150%;
        height: 0.5vh;
        background-image: linear-gradient(
            to right,
            black 33%,
            rgba(255, 255, 255, 0) 0%
        );
        background-repeat: repeat-x;
        background-position: bottom;
        background-size: 5px 1.5px;

        @include title-absolute;
        rotate: 5deg;
    }
}

@media screen and (max-width: 1000px) {
    div#symbol img {
        top: 47.5%;
        width: 100%;
    }
}
