div#symbol {
    height: 92.5vh;

    div#logo {
        position: relative;
        top: 50%;
        left: 50%;
        width: 80%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        rotate: 3.5deg;

        img {
            width: 100%;
            object-fit: cover;
            filter: drop-shadow(0.35vh 0.35vh 0.25vh black);
        }

        div#bottom-border {
            position: absolute;
            top: 85% !important;
            left: -50% !important;
            width: 200%;
            height: 1vh;
            border-bottom: double 7.5px black;
        }
    }
}

@media screen and (max-width: 1000px) {
    div#symbol {
        div#logo {
            width: 100%;

            img {
                top: 47.5%;
                width: 100%;
            }
        }
    }
}
