@keyframes slideHeader {
    0% {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-25%);
    }
}

#top-slider-hr {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;

    width: 150%;
    height: 7.5vh;

    animation: slideHeader 20s linear infinite;

    background: #fff;
    background-image: linear-gradient(
        to right,
        black 33%,
        rgba(255, 255, 255, 0) 0%
    );
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 5px 1.5px;
    box-shadow: 5px 2.5px 2.5px gray;
}

#bottom-slider-hr {
    position: absolute;

    width: 150%;
    height: 7.5vh;

    animation: slideHeader 20s linear infinite;

    background: #fff;
    background-image: linear-gradient(
        to right,
        black 33%,
        rgba(255, 255, 255, 0) 0%
    );
    background-repeat: repeat-x;
    background-position: top;
    background-size: 5px 1.5px;
    box-shadow: 0 -1px 1px 1px gray;
}

html,
body {
    overflow-x: hidden;

    width: 100%;

    background: #f8f8ff;
}

main {
    width: 85%;
    margin: 0 auto;
    margin-top: 7.5vh;
}
