@-webkit-keyframes bounce {
    0% {
        top: 42.5px;
        height: 22.5px;
        -webkit-transform: scaleX(1.7);
    }

    40% {
        height: 50px;
        -webkit-transform: scaleX(1);
    }

    100% {
        top: -50px;
    }
}

@keyframes bounce {
    0% {
        top: 42.5px;
        height: 22.5px;
        transform: scaleX(1.7);
    }

    40% {
        height: 50px;
        transform: scaleX(1);
    }

    100% {
        top: -50px;
    }
}

@-webkit-keyframes bounce-phone {
    0% {
        top: 50px;
        height: 12.5px;
        -webkit-transform: scaleX(1.7);
    }

    40% {
        height: 35px;
        -webkit-transform: scaleX(1);
    }

    100% {
        top: -35px;
    }
}

@keyframes bounce-phone {
    0% {
        top: 50px;
        height: 12.5px;
        transform: scaleX(1.7);
    }

    40% {
        height: 35px;
        transform: scaleX(1);
    }

    100% {
        top: -35px;
    }
}

@-webkit-keyframes shadow {
    0% {
        -webkit-transform: scaleX(1.5);
    }

    40% {
        -webkit-transform: scaleX(1);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scaleX(0.2);
        opacity: 0.4;
    }
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: 0.7;
    }

    100% {
        transform: scaleX(0.2);
        opacity: 0.4;
    }
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(1800deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1800deg);
    }
}

#loading,
#forever-loading {
    position: relative;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.circle {
    position: absolute;
    left: -37.5%;
    width: 50px;
    height: 50px;
    -webkit-animation: bounce 1s alternate infinite ease,
        rotation 10s infinite linear;
    animation: bounce 1s alternate infinite ease, rotation 10s infinite linear;
}

.circle:nth-child(2) {
    left: 42.5%;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.circle:nth-child(3) {
    left: 122.5%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.shadow {
    position: absolute;
    z-index: -1;
    top: 62px;
    left: -37.5%;
    width: 50px;
    height: 5px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: shadow 1s alternate infinite ease;
    animation: shadow 1s alternate infinite ease;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(1px);
}

.shadow:nth-child(4) {
    left: 42.5%;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.shadow:nth-child(5) {
    left: 122.5%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

span.loading-text {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: underline dotted;
    color: #000;
}

#forever-loading {
    width: auto;
}

#loading.completed {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

@media screen and (max-width: 1000px) {
    #loading,
    #forever-loading {
        #wrapper {
            width: 30vw;
        }

        .circle {
            width: 35px;
            height: 35px;
            -webkit-animation: bounce-phone 1s alternate infinite ease,
                rotation 10s infinite linear;
            animation: bounce-phone 1s alternate infinite ease,
                rotation 10s infinite linear;
        }

        .shadow {
            width: 35px;
            height: 3.5px;
        }
    }
}
