@keyframes bounce {
    0% {
        top: 42.5px;
        height: 22.5px;
        transform: scaleX(1.7);
    }

    40% {
        height: 50px;
        transform: scaleX(1);
    }

    100% {
        top: -50px;
    }
}

@keyframes bounce-phone {
    0% {
        top: 50px;
        height: 12.5px;
        transform: scaleX(1.7);
    }

    40% {
        height: 35px;
        transform: scaleX(1);
    }

    100% {
        top: -35px;
    }
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: 0.7;
    }

    100% {
        transform: scaleX(0.2);
        opacity: 0.4;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1800deg);
    }
}

#loading,
#forever-loading {
    position: relative;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: #f8f8ff;
    #wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        transform: translate(-50%, -50%);
        .circle {
            position: absolute;
            top: 42.5px;
            left: -37.5%;
            width: 50px;
            height: 50px;
            animation: bounce 1s alternate infinite ease,
                rotation 10s infinite linear;
        }

        .circle:nth-child(2) {
            left: 42.5%;
            animation-delay: 0.1s;
        }

        .circle:nth-child(3) {
            left: 122.5%;
            animation-delay: 0.2s;
        }

        .shadow {
            position: absolute;
            z-index: -1;
            top: 62px;
            left: -37.5%;
            width: 50px;
            height: 5px;
            transform-origin: 50%;
            animation: shadow 1s alternate infinite ease;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            filter: blur(1px);
        }

        .shadow:nth-child(4) {
            left: 42.5%;
            animation-delay: 0.1s;
        }

        .shadow:nth-child(5) {
            left: 122.5%;
            animation-delay: 0.2s;
        }
    }

    span.loading-text {
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-decoration: underline dotted;
        color: #000;
    }
}

#forever-loading {
    width: auto;
    background: none;
}

#loading.completed {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

@media screen and (max-width: 1000px) {
    #loading,
    #forever-loading {
        #wrapper {
            width: 30vw;

            .circle {
                top: 50px;
                width: 35px;
                height: 35px;
                animation: bounce-phone 1s alternate infinite ease,
                    rotation 10s infinite linear;
            }

            .shadow {
                width: 35px;
                height: 3.5px;
            }
        }
    }
}
