@mixin menu
{
  z-index: 1000;
  right: 0;
  left: 0;

  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;

  width: 100%;
  height: 7.5vh;

  opacity: .9;
}

#bottom
{
  position: relative;

  height: 7.5vh;

  #bottom-menu
  {
    position: absolute;
    top: 0;

    @include menu;
  }
}

#top-menu
{
  position: fixed;
  top: 0;

  @include menu;
}

nav.inner
{
  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-align: center;
     -moz-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;

  margin: 0 auto;

  ul
  {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    list-style-type: none;

    li a
    {
      text-decoration: none;

      color: #404040;

      p
      {
        font-weight: bold;

        display: block;
      }

      span
      {
        display: none;
      }

      p,
      span
      {
        padding: 2.25vh 7.5vw;
      }
    }

    li a:hover
    {
      color: #20b2aa;
    }
  }
}

@media screen and (max-width: 1000px)
{
  nav.inner
  {
    width: 100%;
    ul
    {
      width: 100%;

      li
      {
        margin: auto;
        a
        {
          p
          {
            display: none;
          }

          span
          {
            display: block;
          }
        }
      }
    }
  }
}
