//共通スタイルを定義
.common-properties {
    display: flex;
    justify-content: space-around;
    max-width: 750px;
    margin: auto;
    padding: 0 !important;
    list-style-type: none;
}

.button-properties {
    font-size: 33px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    text-decoration: none;
    color: #fff !important;
    border-radius: 13px;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    &:hover {
        transform: translateY(-5px);
    }
}

#sns,
#programming-languages {
    @extend .common-properties;

    li {
        text-align: center !important;
        a.button {
            @extend .button-properties;
        }

        a.bg-twitter {
            background: #55acee;
        }

        a.bg-instagram {
            overflow: hidden;
            background: linear-gradient(135deg, #427eff 0%, #f13f79 70%)
                no-repeat;
            .fab.instagram {
                font-size: 40px;
            }

            &:before {
                position: absolute;
                top: 27px;
                left: -12px;
                width: 59px;
                height: 40px;
                content: "";
                background: radial-gradient(
                    #ffdb2c 7%,
                    rgba(255, 105, 34, 0.3) 60%,
                    rgba(255, 88, 96, 0) 70%
                );
            }
        }

        a.bg-facebook {
            background: linear-gradient(to bottom, #5c80c6 0%, #34528c 74%);
            .fab.facebook {
                font-size: 43px;
                position: relative;
                top: 23px;
                left: 17px;
            }
        }

        a.bg-github {
            background: #000;
        }

        a.bg-discord {
            background: #7289da;
        }
    }
}

#programming-languages {
    flex-wrap: wrap;

    li {
        display: flex;
        align-items: center;
        flex: 1 0 30%;
        margin: 5px;
        transition: 0.5s;
        border-radius: 15px;
        background: white;
        a {
            display: flex;
            width: 100%;
            white-space: nowrap;
            text-decoration: none;
            color: black;

            // 色の定義をまとめる

            $colors: (
                "python": #3776ab,
                "javascript": #f7df1e,
                "typescript": #3178c6,
                "csharp": #9a549d,
                "php": #777bb4,
                "html": #e34f26,
                "css": #1572b6,
                "mysql": #00718b,
                "postgresql": #336791,
                "redis": #d82c20,
                "unity": #222c37,
                "cplusplus": #00599c,
                "java": #007396,
            );
            div.button {
                color: black !important;

                @extend .button-properties;
            }

            @each $lang, $color in $colors {
                div.bg-#{$lang} {
                    background: $color;
                }
            }
        }

        span {
            font-size: large;
            margin: auto;
            padding: 0 15px;
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}
